@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
}

h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}

p{
  text-wrap: pretty;
}


/* ESTILO CAROUSEL */

.slick-dots li button:before{
  color: white !important;
}


/* ESTILO SCROLLBAR */

/* Estilo para el scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

/* Estilo para el thumb (la barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background-color: #868686; /* Color del thumb */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el track (el área de fondo del scrollbar) */
::-webkit-scrollbar-track {
  background-color: #313131; /* Color del track */
}