.home__container{
    background-image: linear-gradient(to right top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #2c2c2c, #383838, #444444, #595959, #707070, #878787, #9f9f9f);
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    gap: 2.5rem;
}

.box__container{
    width: 90%;
    max-width: 600px;
/*     background-color: white;
    border-radius: 0.3rem;
    border: 1px rgb(207, 207, 207) solid; */
    border-bottom: 2px white solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
}

.imagen__demostracion{
    width: 96%;
    border-radius: 0.3rem;
}