.home__container{
/*     background-image: linear-gradient(to right top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #2c2c2c, #383838, #444444, #595959, #707070, #878787, #9f9f9f);
 */    
    background-image: url('../../../public/img/background3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
/*   */
    gap: 2.5rem;
}

.box__container{
    width: 100%;
    max-width: 600px;
    border-bottom: 2px white solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: white;
}

.box__container__image{
    width: 100%;
    max-width: 700px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;

}

.imagen__demostracion{
    width: 96%;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 33px 5px rgba(201,201,201,0.75);
    -webkit-box-shadow: 0px 1px 33px 5px rgba(201,201,201,0.75);
    -moz-box-shadow: 0px 1px 33px 5px rgba(201,201,201,0.75);
}

.title__home{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.5rem;
    white-space: nowrap;
    border-right: 4px solid;
    width: 15ch;
    animation: typing 2s steps(15), blink .5s infinite step-end alternate;
    animation-delay: 0.2s;
    overflow: hidden;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
}
.box__container>div>p{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.651);
}

.home__subtitle{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
    font-size: 1.2rem;
}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.home__section1{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}



@media screen and (min-width: 601px) {
    .title__home{
        font-size: 2.5rem;
    }
    .home__subtitle{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1450px) {
    .title__home{
        font-size: 3rem;
    }
    .home__section1{
        gap: 5rem;
    }
    .box__container>div>p{
        font-size: 1.5rem;
    }
    .home__subtitle{
        font-size: 2rem;
    }
    .home__container{
        padding-top: 7rem;
        gap: 14rem;
    }
    .box__container{
        gap: 4rem;
    }
    .home__reverse{
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1700px) {
    .title__home{
        font-size: 3.5rem;
    }
    .home__section1{
        justify-content: space-between;
    }
    .home__subtitle{
        font-size: 2.8rem;
    }
    .box__container>div>p{
        font-size: 2rem;
    }
    

}