.navBar__container{
    position: sticky;
    bottom: 0;
    z-index: 1;
    height: 6vh;
    background-color: rgb(39, 39, 39);
}

.navBar__position{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.navBar__hambur{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu__hambur{
    background-color: rgb(22, 22, 22);
    color: white;
    border: 1px black solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navBar__menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #2c2c2c, #383838, #444444, #595959, #707070, #878787, #9f9f9f);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ancor{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px rgb(206, 206, 206) solid;
    border-bottom: 1px rgb(206, 206, 206) solid;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.show{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    transition: 0.4s;
}

.logo__navBar{
    display: none;
}

.title__navBar{
    display: none;
}

@media screen and (min-width: 769px){
    .navBar__position{
        flex-direction: column;
    }
    .navBar__container{
        position: relative;
        background-image: linear-gradient(to bottom, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);
        border-bottom: 2px white solid;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
    }
    .menu__hambur{
        display: none;
    }
    .navBar__menu{
        position: absolute;
        top: 0;
        right: 45%;
        height: 100%;
        flex-direction: row;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        width: 300px;
        background-image: none;
    }
    .ancor{
        background-color: transparent;
    }
    .logo__navBar{
        display: block;
        width: 50px;
    }
    
    .title__navBar{
        display: block;
        font-size: 1.5rem;
        color: white;
    }
    
}