.navBar__container{
/*     background: rgb(107,107,107);
    background: linear-gradient(180deg, rgba(107,107,107,1) 0%, rgba(101,101,101,1) 25%, rgba(101,101,101,1) 75%, rgba(107,107,107,1) 100%); */
    background-image: linear-gradient(to bottom, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);
    border-bottom: 1px rgb(172, 172, 172) solid;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 4;
    transition: 0.7s;
}
.scroll__active{
    height: 7vh;
    transition: 0.7s;
}
.logo__navBar{
    width: 40px;
    height: 40px;
    animation: giro 5s linear infinite;
}
@keyframes giro {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
.title__navBar{
    font-size: 0.6rem;
}
.title__navBar>h1{
    color: #eeeeee;
}
.navBar__hambur{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu__hambur{
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(99, 99, 99);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navBar__menu{
    position: fixed;
    width: 100%;
    top: 10vh;
    left: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.navBar__menu__scroll{
    top: 7vh;
}
.navBar__menu>div{
    width: 100%;
}

.ancor{
    background-color: rgb(61, 61, 61);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgba(206, 206, 206, 0.274) solid;
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.active{
    background-color: rgb(61, 61, 61);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgba(206, 206, 206, 0.274) solid;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.show{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    transition: 0.4s;
}

.title__contain{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



@media (width>769px){
    .navBar__container{
        height: 12vh;
        justify-content: space-around;
    }
    .scroll__active{
        height: 9vh;
        transition: 0.7s;
    }
    .navBar__hambur{
        display: none;
    }
    .navBar__menu{
        position: static;
        left: auto;
        top: auto;
        height: 100%;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        width: 600px;
        flex-direction: row;
        gap: 2rem;
    }
    .ancor{
        background-color: transparent;
        width: auto;
        border-bottom: none;
        font-size: 1.4rem;
    }
    .active{
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: bold;
        border-bottom: none;
    }
    .logo__navBar{
        display: block;
        width: 65px;
        height: 65px;
    }
    .title__navBar{
        display: block;
        font-size: 1rem;
        color: white;
    }
    .navBar__menu>div{
        width: 100%;
        position: relative;
    }
    .navBar__menu>div>div{
        width: 100%;
        bottom: 8px;
        height: 4px;
        border-radius: 3px;
        background-color: transparent;
        position: absolute;
        clip-path: polygon(20% 0, 0 0, 0 100%, 20% 100%);
        transition: clip-path 0.7s, background-color 0.9s;
    }
    .navBar__menu>div:hover>div{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        transition: clip-path 0.7s, background-color 0.9s;
        background-color: rgb(255, 255, 255);
    }
    .navBar__menu>div:hover>.ancor{
        color: white;
    }
    .navBar__menu>div{
        width: auto;
    }
    .title__contain{
        gap: 1rem;
    }
}

@media (width>1200px) {
    .title__contain{
        position: absolute;
        left: 5rem;
    }
}

@media (width>1500px) {
    .title__contain{
        position: absolute;
        left: 10rem;
    }
}